.clickme {
  cursor: pointer;
 }

#function_x,
#function_y {
  font-family: Times;
  font-style: italic;
  font-size: 100%;
}

#latex_x ,
#latex_y {
  cursor: pointer;
}

input[type=radio] {
  position: relative;
  top: 0.2em;
  opacity: 0.5;
}

input[type=radio]:checked {
  opacity: 1;
}

#function_x, #function_y {
  width: 23em;
}

#start, #end, #steps {
  width: 3em;
  text-align: center;
}

#params {
  margin-bottom: 1em;
}

dl {
  margin-left: 1em;
}

dl * {
  line-height: 1.2em;
}

dt {
  font-family: monospace;
}

dd {
  margin-top: -1.1em;
  padding-left: 2em;
}

#special-functions dd {
  padding-left: 10em;
}

p {
  margin: 0;
  padding: 0;
}

p + p {
  margin-top: 1.2em;
}

div canvas {
  margin-top: 2em;
}

a {
  text-decoration: none;
}

#parameters {
  border: 1px solid grey;
  margin: 1em 1em 0 1em;
  padding: 0.2em 0.5em;
  font-size: 90%;
}

#parameters .minor {
  font-size: 80%;
}

#parameters p {
  margin-bottom: 0.5em;
}

.variable {
}
.variable * {
  margin: 0 0.5em;
  font-size: 85%;
}
.variable .label:before {
  content: "[";
}
.variable .label:after {
  content: "]";
}
.variable .start:before {
  content: "start: ";
}
.variable .range {
  margin: 0 0.5em;
}
.variable .end:before {
  content: "end: ";
}
.variable .resolution:before {
  content: "resolution: ";
}
.variable .value:before {
  content: "current value: ";
}
.variable .debug {
  position: relative;
  top: -0.25em;
  font-size: 65%;
  font-variant: small-caps;
  cursor: pointer;
}
.variable .debug:before {
  content: "(";
}
.variable .debug:after {
  content: ")";
}