html, body { margin:0; padding:0; }
body>div {
  padding: 1em;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  background: rgb(189, 201, 209);
  margin-top: 0;
}

h3 { margin-top: 0; }

code {
  background: #EEE; font-size: 90%;
}

dt { font-weight: bold; }

figure {
  padding:5px;
  margin:0;
  border: 1px solid #CCC;
  width:400px;
}

figure + figure { margin-top:5px; }

figure.viewbox { background:rgb(189, 201, 209); }

#prettyFormula { text-align: center; }

.MathJax_Display {
  width: 100%!important;
  text-align: center!important;
}

.column {
  display: inline-block;
  width:45%;
  vertical-align: top;
}

input[type=text] {
  width: 2.5em;
  font-size: 11px;
}

.clamps {
  margin-top: 0.5em;
  border: 1px solid black;
  padding: 0 0.5em;
}
